<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provincias - Argentina Desglosada</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/regiones.html">Regiones</a></li>
                <li><a href="../views/provincias.html">Provincias</a></li>
                <li><a href="../views/sobre_el_autor.html">Sobre el autor</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Provincias</h1>
        <ul>
            <li>Buenos Aires</li>
            <li>Catamarca</li>
            <li>Chaco</li>
            <li>Chubut</li>
            <li>Córdoba</li>
            <li>Corrientes</li>
            <li>Entre Ríos</li>
            <li>Formosa</li>
            <li>Jujuy</li>
            <li>La Pampa</li>
            <li>La Rioja</li>
            <li>Mendoza</li>
            <li>Misiones</li>
            <li>Neuquén</li>
            <li>Río Negro</li>
            <li>Salta</li>
            <li>San Juan</li>
            <li>San Luis</li>
            <li>Santa Cruz</li>
            <li>Santa Fe</li>
            <li>Santiago del Estero</li>
            <li>Tierra del Fuego, Antártida e Islas del atlántico sur</li>
            <li>Tucumán</li>
        </ul>

       <video src="../imagenes/provincias y capitales.mp4" width="250px" controls></video>
    </main>
    <footer></footer>
</body>
</html>