<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiones - Argentina Desglosada</title>
    <link rel="stylesheet" href="../css/regiones.css">
</head>
<body>
    <header>
        <nav class="nav_bar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/regiones.html">Regiones</a></li>
                <li><a href="../views/provincias.html">Provincias</a></li>
                <li><a href="../views/sobre_el_autor.html">Sobre el autor</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Listado de Regiones</h1>
        <p>Las regiones geográficas de Argentina son cada una de las grandes divisiones territoriales, definidas por características geográficas e histórico-sociales en las que se divide la nación sudamericana.</p>
        <img src = "../imagenes/RegionesSimplificadas.png">
        <ul>
            <li>Región Noroeste</li>
            <li>Región Chaqueña</li>
            <li>Región Mesopotámica</li>
            <li>Región de Cuyo</li>
            <li>Sierras Pampeanas</li>
            <li>Región Pampeana</li>
            <li>Patagonia</li>
        </ul> 
    </main>
    <footer></footer>
</body>
</html>