<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre el autor - Argentina Desglosada</title>
    <link rel="stylesheet" href="../css/sobre_el_autor.css">
</head>
<body>
    <header>
        <nav class="nav_bar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/regiones.html">Regiones</a></li>
                <li><a href="../views/provincias.html">Provincias</a></li>
                <li><a href="../views/sobre_el_autor.html">Sobre el autor</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Sobre el autor</h1>
        <p>Mi nombre es Dalma Ojeda, tengo 25 años, soy nacida y críada en Río Gallegos, provincia de Santa Cruz y soy estudiante de abogacía en la Universidad Nacional de Córdoba.    
        </p>
        <p>Esta página fue creada en el desarrollo del curso de Programación Front End - BA Multiplica, con la finalidad de aplicar los conocimientos adquiridos.</p>

        <h2>Mis redes sociales</h2>
        <h3>Facebook</h3>
        <a href="https://www.facebook.com/DalmuParamore" target="blank">https://www.facebook.com/DalmuParamore</a>
        <h3>Instagram</h3>
        <a href="https://www.instagram.com/dalmuu97" target="blank">https://www.instagram.com/dalmuu97</a>
        <h3>GitHub</h3>
        <a href="http://github.com/DOjeda97" target="blank">http://github.com/DOjeda97</a>
        <h3>Gmail</h3>
        <a href="mailto:dojeda0702@gmail.com">Enviame un correo</a>
    </main>
    <footer></footer>
</body>
</html>